@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    --blue : #0065FC;
    --lightblue : #DEEBFF;
    --grey : #F2F2F2;
    --darkgrey : #D9D9D9;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
body {
    padding: 0px 30px 30px 30px;
}

/*************** Header ***************/
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    
}
.logo a {
    height: 50%;
    width: auto;
    margin-left: 15px;
}
.logo a img{
    height: 100%;
    width: auto;
    
}

.nav_bar {
    display: flex;
    height: 80px;
    justify-content: flex-end;

}
.nav_bar ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.nav_bar ul li {
    display: block;
    list-style-type: none;
    width: 140px;
    height: 100%;
}
.nav_item a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-top: 2px solid transparent;
    font-size: 14px;
}
.nav_item a:hover{
    border-top: 2px solid var(--blue);
    color: var(--blue);
}
.nav_host_active a{
    border-top: 2px solid var(--blue);
    color: var(--blue);
}

/***************** Wrapper *******************/
.title {
    font-size: 18px;
    margin-bottom: 6px;
}
.wrapper_p {
    font-size: 13px;
    margin-top: 6px;
}
/****************** Search Bar ******************/
.search_bar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.search_bar_i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    border-radius: 14px 0 0 14px;
    width: 44px;
    height: 44px;
    font-size: 14px;
}
.search_bar input {
    height: 42px;
    padding: 0 10px;
    border: none;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    font-size: 15px;
    font-weight: 600;
}
.search_bar button {
    height: 44px;
    background-color: var(--blue);
    border: none;
    border-radius: 0 14px 14px 0;
    padding: 1px 15px 0 15px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
/***************** Filters *******************/
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filters_p {
    font-weight: bold;
    font-size: 13px;

}

.filter {
    display: flex;
    align-items: center;
    border: 2px solid var(--darkgrey);
    border-left: none;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    min-width: 110px;
    border-radius: 21px;
    margin-left: 20px;
}
.filter_i {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    background-color: var(--lightblue);
    border-radius: 50%;
    transform: scale(1.05);
}
.filter_p{
    margin: 2px 10px 0 10px;
}
/******************* Information Number of Hosting Available ******************/
.host_available{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.host_available div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
    color: var(--blue);
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.host_available i {
    font-size: 8px;
    color: var(--blue);
}


/********************* HOSTING **********************/
.hosting {
    display: flex;
    gap: 3%;
}
.hosting_city {
    background-color: var(--grey);
    border-radius: 15px;
    width: 60%;
    padding: 30px;
}
.hosting_popular {
    background-color: var(--grey);
    border-radius: 15px;
    width: 30%;
    padding: 30px;
}
.title_hosting {
    font-size: 17px;
    margin: 0 0 20px 0;
}
.container_cards {
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    width: 100%;
}
/******************* Card Hosting City *****************/
.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 28%;
    height: 150px;
    padding: 4px;
    background-color:white;
    border-radius: 15px;
}
.card_img {
    height: 60%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.card_img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: 0% -54px;
}
.card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    height: 34%;
}
.title_card {
    font-size: 12px;
    margin: 0;
}
.p_card {
    font-size: 11px;
    margin: 0;
}
.p_card span {
    font-weight: bold;
}
.stars {
    display: flex;
}
.fa-star{
    color: var(--darkgrey);
    font-size: 9px;
}
.blue-star{
    color: var(--blue);
}
