@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    --blue : #0065FC;
    --lightblue : #DEEBFF;
    --grey : #F2F2F2;
    --darkgrey : #D9D9D9;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
main {
    padding: 0px 30px 30px 30px;
    margin: 0 auto;
}
.title_h2 {
    font-size: 17px;
    font-weight: 600;
    margin: 4px 0 20px 0;
}
p {
    font-size: 13px;
}

/*************** HEADER ***************/

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.logo a {
    height: 50%;
    width: auto;
    margin-left: 45px;
}
.logo a img{
    height: 100%;
    width: auto;
}
.nav_bar {
    display: flex;
    height: 80px;
    justify-content: flex-end;
}
.nav_bar ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.nav_item {
    display: block;
    list-style-type: none;
    width: 140px;
    height: 100%;
}
.nav_item a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 2px solid transparent;
    font-size: 14px;
}
.nav_item a:hover{
    border-top: 2px solid var(--blue);
    color: var(--blue);
}
.nav_host_active a{
    border-top: 2px solid var(--blue);
    color: var(--blue);
}

/***************** SECTION-SEARCH *******************/

.title {
    font-size: 18px;
    margin-bottom: 6px;
}
.container_search_p {
    margin-top: 6px;
}

/****************** SEARCH-BAR ******************/

.search_bar{
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    height: 44px;
    border: 1px solid var(--grey);
    border-radius: 14px;
}
.search_bar_i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    border-radius: 14px 0 0 14px;
    min-width: 44px;
    height: 44px;
    font-size: 14px;
}
.search_bar_input {
    height: 42px;
    padding: 0 10px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.search_bar button {
    height: 44px;
    background-color: var(--blue);
    border: none;
    border-radius: 0 14px 14px 0;
    padding: 1px 15px 0 15px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
.search_button_mobile {
    display: none;
}
.search_bar button:hover {
    opacity: .8;
}

/***************** FILTERS *******************/

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.filters_title {
    font-weight: bold;
}
.filter {
    display: flex;
    align-items: center;
    height: 40px;
    min-width: 110px;
    background-color: white;
    color: black;
    border: 2px solid var(--darkgrey);
    border-left: none;
    border-radius: 21px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}
.filter:hover {
    transition: .2s ease-in-out;
    background-color: var(--lightblue);
    border: 2px solid var(--lightblue);
    border-left: none;
}
.filter_i {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    background-color: var(--lightblue);
    border-radius: 50%;
    transform: scale(1.05);
}
.filter:hover .filter_i{
    transition: .2s ease-in-out;
    background-color: var(--blue);
    color: white;
}
.filter_p{
    margin: 0 10px;
}

/******************* Information Number of Hosting Available ******************/

.host_available{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.host_available div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
    color: var(--blue);
    min-width: 16px;
    height: 16px;
    margin-right: 10px;
}
.host_available i {
    font-size: 8px;
    color: var(--blue);
}

/********************* HOSTING **********************/

.hosting {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

/********************* HOSTING-CITY **********************/

.hosting_city {
    background-color: var(--grey);
    border-radius: 15px;
    width: 70%;
    padding: 30px;
}
.container_cards {
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    width: 100%;
    margin-top: 20px;
}
.view_more {
    display: inline-block;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 600;
}
.view_more:hover {
    color: var(--blue);
}

/******************* CARD-HOSTING_CITY *****************/

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 28%;
    height: 155px;
    padding: 4px;
    background-color:white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.2);
}
.card:hover{
    transition: 0.2s ease;
    transform: scale(1.02);
}
.card_img {
    height: 60%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.card_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    height: 34%;
}
.title_card {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}
.p_card {
    font-size: 11px;
    margin: 0;
}
.p_card span {
    font-weight: 600;
}
.stars {
    display: flex;
}
.fa-star{
    color: var(--darkgrey);
    font-size: 9px;
}
.blue-star{
    color: var(--blue);
}

/******************* HOSTING-MOST-POPULAR *****************/

.hosting_popular {
    background-color: var(--grey);
    border-radius: 15px;
    width: 30%;
    padding: 30px;
}
.box_title_popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_title_popular a{
    margin: 2px 0 10px 0;
}
.box_title_popular a:hover{
    color: var(--blue);
}
.container_card_popular{
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 20px;
}

/******************* CARD-MOST-POPULAR *****************/

.card_popular{
    display: flex;
    height: 109px;
    padding: 4px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
}
.card_popular:hover{
    transition: 0.2s ease;
    transform: scale(1.02);
}
.card_popular_img {
    width: 40%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}
.card_popular_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}
.card_popular_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    padding: 10px;
}
.stars_popular {
    display: flex;
    margin-top: auto;
}
.stars_popular .fa-star{
    font-size: 8px;
}

/******************* ACTIVITY ********************/

.activity_section {
    margin-bottom: 20px;
}
.container_activity {
    width:100%;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.card_activity {
    width: calc(25% - 23px);
    border-radius: 15px;
    overflow:hidden;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
}
.card_activity:hover{
    transition: 0.2s ease;
    transform: scale(1.02);
}
.card_activity_img {
    height: calc(100% - 40px);
    border-radius: 15px;
}
.card_activity_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card_activity_text {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    margin: 0;
    background-color: white;
    font-weight: 600;
}
.card_activity:nth-child(1) {
    height: 100%
}
.card_activity:nth-child(2) {
    height: calc(60% - 15px);
}
.card_activity:nth-child(3) {
    height: calc(40% - 15px);
}
.card_activity:nth-child(4) {
    height: 100%
}
.card_activity:nth-child(5) {
    height: calc(50% - 15px);
}
.card_activity:nth-child(6) {
    height: calc(50% - 15px);
}

/******************* FOOTER ********************/

footer {
    display: flex;
    height: auto;
    background-color: var(--grey);
    padding: 30px;
    gap: 30px;
}
footer div {
    display: flex;
    flex-direction: column;
    width: calc(33% - 15px);
    margin-right: auto;
}
.footer_title {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 600;
}
.footer_p {
    display: inline;
    margin-top: 10px;
    margin-right: auto;
}
.footer_p:hover {
    color: var(--blue);
    font-weight: 600;
}
/******************************************************************************

*************************************TABLETTE**********************************

******************************************************************************/

@media  screen and (max-width: 992px ) {

    /********************* HOSTING-TABLETTE **********************/
    
    .hosting {
        display: flex;
        flex-direction: column;
    }
    .hosting_city {
        width: 100%;
    }
    .card_img img {
        object-position: bottom;
    }
    .hosting_popular {
        order: -1;
        width: 100%;
    }
    .container_card_popular{
        display: flex;
        flex-direction: row;
        height: 90%;
        gap: 20px;
    }
    .card_popular{
        flex: 1 1 28%;
        height: 130px;
    }
    .stars_popular .fa-star{
        font-size: 9px;
    }

    /******************* ACTIVITY-TABLETTE ***********************/

    .card_activity {
        width: calc(33% - 17px);
    }
    .card_activity:nth-child(1) {
        height: calc(60% - 15px)
    }
    .card_activity:nth-child(2) {
        height: calc(40% - 15px);
    }
    .card_activity:nth-child(3) {
        height: calc(40% - 15px);
    }
    .card_activity:nth-child(4) {
        height: calc(60% - 15px)
    }
    .card_activity:nth-child(5) {
        height: calc(50% - 15px);
    }
    .card_activity:nth-child(6) {
        height: calc(50% - 15px);
    }
}

/******************************************************************************

************************************* MOBILE **********************************

******************************************************************************/

@media  screen and (max-width: 768px ) {
    main {
        padding: 0;
        margin: 0 auto;
    }
    .title_h2 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .p_card {
        font-size: 14px;
    }
    .title_card {
        font-size: 16px;
    }
    .fa-star, .stars_popular .fa-star {
        font-size: 12px;
    }
    /******************* HEADER-MOBILE ***********************/
    header {
        height: 130px;
        flex-direction: column;
    }
    .logo {
        height: 80px;
        width: 100%;
        justify-content: center;
    }
    .nav_bar {
        height: 50px;
        width: 100%;
    }
    .nav_bar ul {
        width: 100%;
    }
    .nav_item {
        width: 100%;
    }
    .nav_item a{
        font-size: 18px;
        border-top: none;
        border-bottom: 2px solid var(--grey);
    }
    .nav_item a:hover{
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }
    .nav_host_active a{
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }
    /******************* SEARCH-MOBILE ***********************/
    .title {
        font-size: 20px;
    }
    .container_search {
        padding: 15px 30px;
    }
    .container_search_p {
        font-size: 15px;
    }
    .search_bar{
        width: 100%;
    }
    .search_bar_input {
        width: 100%;
    }
    .search_bar .search_button_mobile {
        display: block;
        border-radius: 14px;
    }
    .search_button_desktop {
        display: none;
    }
    /******************* FILTERS-MOBILE ***********************/
    .filters_title {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
    .filters_p {
        display: block;
        width: 100%;
        margin-bottom: 0;
        font-size: 15px;
    }
    /******************* INFORMATION-HOSTING-MOBILE ***********************/
    .host_available div {
        min-width: 22px;
        height: 22px;
    }
    .host_available i {
        font-size: 12px;
    }
    /******************* HOSTING-MOBILE ***********************/
    .hosting {
        gap: 0;
        margin-bottom: 0;
    }
    .view_more {
        font-size: 18px;
    }
    /******************* HOSTING-CITY-MOBILE ***********************/
    .hosting_city {
        background-color: white;
    }
    .container_cards {
        flex-direction: column;
        gap: 10px;
    }
    .card {
        flex: none;
        height: 200px;
    }
    .card_img img {
        object-position: center;
    }
    /******************* HOSTING-POPULAR-MOBILE ***********************/
    .hosting_popular {
        border-radius: 0;
        height: 550px;
    }
    .box_title_popular a {
        font-size: 20px;
    }
    .container_card_popular {
        flex-direction: column;
        gap: 10px;
    }
    /******************* ACTIVITY-MOBILE ***********************/
    .activity_section {
        padding: 30px;
    }
    .container_activity {
        height: auto;
    }
    .card_activity {
        width: 100%;
        height: 200px;
    }
    .card_activity:nth-child(1) {
        height: 200px;
    }
    .card_activity:nth-child(2) {
        height: 200px;
    }
    .card_activity:nth-child(3) {
        height: 200px;
    }
    .card_activity:nth-child(4) {
        height: 200px;
    }
    .card_activity:nth-child(5) {
        height: 200px;
    }
    .card_activity:nth-child(6) {
        height: 200px;
    }
    /******************* FOOTER-MOBILE ***********************/
    footer {
        flex-direction: column;
    }
    .footer_title {
        font-size: 18px;
    }
    footer div {
        width: 100%;
    }
}
